<div id="<%= dom_id mensagem %>">
  <p>
    <strong>Titulo:</strong>
    <%= mensagem.titulo %>
  </p>

  <p>
    <strong>Corpo:</strong>
    <%= mensagem.corpo %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= mensagem.autor %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= mensagem.email %>
  </p>

</div>
